.wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid rgba(5, 125, 111, 0.581);
  border-radius: 20px;
  margin-bottom: 20px;
  gap: 15px;
  background-color: rgba(5, 125, 111, 0.581);
}
.title {
  margin-bottom: 10px;
}
.label {
  font-size: 24px;
  margin-bottom: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.input {
  width: 380px;
  height: 40px;
  border: 2px solid rgb(121, 193, 208);
  outline: transparent;
  border-radius: 20px;
  padding: 5px 0 5px 20px;
  font-size: 24px;
}

.input:hover,
.input:focus {
  border: 2px solid rgb(121, 193, 208);
  box-shadow: 3px 2px 2cqh rgb(13, 195, 232);
}
