.item {
  display: flex;
  align-items: center;
}

.list {
  margin: 30px auto;
  width: 700px;
  justify-content: space-between;
}
.text {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.link {
  color: rgb(7, 149, 147);
}
.link:hover {
  color: rgb(10, 172, 102);
}
