.wrap {
  background-color: rgb(5, 125, 111);
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}
.title {
  margin-bottom: 20px;
}
.accent {
  color: rgba(255, 0, 0, 0.773);
}
.name {
  text-transform: capitalize;
  color: rgb(25, 204, 240);
}
.list {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  padding: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  color: white;
}
.yesBtn {
  composes: btn;
  background-color: rgb(22, 201, 22);
}
.yesBtn:hover,
.yesBtn:focus {
  background-color: rgb(111, 202, 111);
}
.noBtn {
  composes: btn;
  background-color: red;
}
.noBtn:hover,
.noBtn:focus {
  background-color: rgb(213, 61, 61);
}
