.wrapper {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  font-size: 44px;
  font-weight: 700;
  width: 400px;
}

.text {
  font-size: 32px;
  width: 450px;
}
.link {
  width: 120px;
  height: 30px;
  padding: 10px 20px;
  background-color: rgb(8, 137, 112);
  color: white;
  border-radius: 40px;
  font-size: 24px;
  margin-top: auto;
  transition: all ease-in-out 0.2s;
}

.link:hover {
  background-color: rgb(9, 92, 148);
}

.imgWrap {
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.imgPhonebook {
  margin-right: auto;
  border-radius: 20px;
}
.imgLady {
  margin-left: auto;
  position: absolute;
  top: 50%;
  left: 220px;
  border-radius: 20px;
}

.list {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  position: relative;
  height: 300px;
}
.item {
  border-radius: 20px;
  overflow: hidden;
  align-self: first baseline;
}

.item:nth-child(2) {
  align-self: last baseline;
}
