.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  border: 2px solid rgb(5, 130, 130);
  border-radius: 20px;
  background-color: inherit;
  outline: transparent;
}
